* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

label {
  margin-bottom: 1.2rem;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  color: #000;
}
button {
  font-family: inherit;
}

/* HEADER SECTION */
.header {
  background-color: #218380;
  font-size: 1.8rem;
  padding: 1.4rem 2.4rem;
  color: #fff;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_reset_box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}
.btn_reset {
  display: inline-block;
  background: none;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  transition: all 0.15s;
  cursor: pointer;
  font-weight: 700;
}

.btn_reset_box p {
  font-size: 1.4rem;
}

#leaderboard {
  display: inline-block;
  background: none;
  font-weight: 600;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.15s;
  cursor: pointer;
}
#leaderboard:hover:not(:disabled),
.btn_reset:hover {
  color: rgb(11, 55, 83);
}
#leaderboard:disabled {
  cursor: no-drop;
}

/* MAIN SECTION */
/* ///////////////////////////////////// */

.container {
  margin: 2rem auto;
  max-width: 72rem;
  width: 90%;
  padding: 2.2rem;
}

.quiz_app {
  display: block;
  padding: 3.2rem;
  border: 3px solid #a7a3a36e;
  border-radius: 2.2rem;
  box-shadow: 12px 8px 10px rgba(0, 0, 0, 0.098);
}
.quiz_start_menu,
.score_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.8rem;
}

.quiz_end_menu h2 {
  margin-bottom: 1.8rem;
}
.quiz_end_menu p {
  margin-bottom: 1.2rem;
}
.quiz_end_menu .btn_submit {
  display: inline-block;
  background-color: #218380;
  border: none;
  padding: 1.2rem;
  border-radius: 7px;
  color: #fff;
  margin-top: 2.2rem;
}
.quiz_end_menu label {
  display: inline-block;
}
.quiz_end_menu input {
  display: inline-block;
  padding: 0.8rem 1.4rem;
}

.guidelines p:first-child {
  margin-bottom: 1.2rem;
}

.quiz_start_menu .secondary_heading,
.question-container h2 {
  font-size: 2.4rem;
  letter-spacing: 0.75px;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  background-color: #218380;
  border: none;
  padding: 1.2rem 1.8rem;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 70%;
}

.btn_next {
  opacity: 0%;
  pointer-events: none;
}
.guidelines {
  width: 100%;
}

.hide {
  display: none;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-items: flex-start;
}

.question-container.hide {
  display: none;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
  width: 100%;
  padding: 1.8rem;
}
.options .btn-option {
  display: inline-block;
  background-color: #218380;
  padding: 1.2rem;
  border-radius: 7px;
  border: none;
  width: 100%;
  text-align: left;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
}

.options .btn-option.correct,
.options .btn-option.correct:hover {
  color: #fff;
  background-color: rgb(15, 140, 15);
}
.options .btn-option.wrong,
.options .btn-option.wrong:hover {
  color: #fff;
  background-color: rgb(178, 20, 20);
}

.options .btn-option:hover:not(:disabled) {
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgb(33, 131, 128);
}
.options .btn-option:disabled {
  cursor: no-drop;
}
.list_players {
  list-style: decimal;
}
